<!DOCTYPE html>

<html>

<head>
    <title>SongR</title>
    <link rel="stylesheet" type= "text/css" href="/style.css">
</head>

<body>
    <h1>SongR - Albums information</h1>
    <h3>Hello Stranger<span th:text="${name}">name</span>, thanks for visiting!</h3>
    <form method="post" action="/albums">
        <input name="title" placeholder="Input Album Title"/>
        <input name="artist" placeholder="Input Album Artist"/>
        <input type="number" name="songCount" placeholder="Input song count"/>
        <input type="number" name="length" placeholder="Input Album length"/>
        <input name="imgUrl" placeholder="Input image URL"/>
        <input type="submit" />
    </form>
    <span th:each="firstAlbum : ${firstAlbum}">
        <h4>Album No <strong th:text="${firstAlbumStat.index+1}" > album index</strong>: <strong th:text="${firstAlbum.title}">title</strong></h4>
        <ul>
            <li><h4>Artist: <strong th:text="${firstAlbum.artist}"></strong></h4></li>
            <li><h4>Album length: <strong th:text="${firstAlbum.songCount}"></strong> tracks</h4></li>
            <li><h4>Full album length: <strong th:text="${firstAlbum.length}"></strong> seconds</h4></li>
            <li><img th:src="@{${firstAlbum.imgUrl}}"/></li>

        </ul>
    </span>
</body>

</html>