<!DOCTYPE html>

<html>

<head>
    <title>SongR</title>
    <link rel="stylesheet" type= "text/css" href="/style.css">
</head>

<body>
    <h1>SongR - Albums information</h1>
    <h3>Hello Stranger<span th:text="${name}">name</span>, thanks for visiting!</h3>
    <form method="post" action="/albums">
        <input name="title" placeholder="Input Album Title"/>
        <input name="artist" placeholder="Input Album Artist"/>
        <input type="number" name="songCount" placeholder="Input song count"/>
        <input type="number" name="length" placeholder="Input Album length"/>
        <input name="imgUrl" placeholder="Input image URL"/>
        <input type="submit" />
    </form>
    <div>
        <ul th:each="firstAlbum : ${firstAlbums}">
            <h4>Artist: <strong th:text="${firstAlbum.artist}"></strong></h4>
            <h4>Album length: <strong th:text="${firstAlbum.songCount}"></strong> tracks</h4>
            <h4>Full album length: <strong th:text="${firstAlbum.length}"></strong> seconds</h4>
            <img th:src="@{${firstAlbum.imgUrl}}"/>
            <form th:action="${'/albums/' + firstAlbum.id + '/songs'}" method="POST">
                <input type="text" name="title"  placeholder="Track Title"/>
                <input type="number" name="length" placeholder="Length"/>
                <input type="number" name="trackNumber" placeholder="Track Number"/>
                <input type="submit" />
            </form>
            <h4>Tracks:</h4>
            <div th:each="song : ${firstAlbum.songs}">
                <li th:text="${song.title}"></li>
            </div>
        </ul>
    </div>
</body>

</html>